@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body,
html {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 248, 238);
}

h1 {
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: 2.5% 45% 5% 45% 2.5%;
}

#navbar {
  top: 0;
  grid-row: 1;
  grid-column: 1 / span 5;
}

#newsfeed {
  grid-row: 2;
  grid-column: 2;
  background-color: rgb(170, 187, 142);
  border-radius: 15px;
  padding: 10px;
}

.news {
  background-color: darkolivegreen;
  color: rgb(255, 245, 231);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

#scoreboard {
  grid-row: 2;
  grid-column: 4;
  background-color: rgb(170, 187, 142);
  border-radius: 15px;
  padding: 10px;
}

#scoreboard table {
  background-color: blanchedalmond;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

#scoreboard th {
  background-color: darkolivegreen;
  color: rgb(255, 245, 231);
  padding: 15px;
}

#scoreboard tr {
  border: 0;
}

#scoreboard td {
  border: 0;
  padding: 10px;
  margin: 0;
}

#scoreboard tr:nth-child(odd) {
  background-color: rgb(143, 165, 106);
}

