@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body,
html {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 248, 238);
}

h1 {
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: 2.5% 45% 5% 45% 2.5%;
}

.navbar {
  grid-row: 1;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 40% 20% 40%;
  background-color: rgb(170, 187, 142);
  border-radius: 15px;
  padding: 10px;
  margin: 2.5%;
}

.navbar #user-name {
  font-size: 0.8em;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding-left: 20px;
}

.navbar nav {
  display: table;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding-bottom: 20px;
}

.navbar ul {
  display: table-row;
}

.navbar li {
  display: table-cell;
  text-align: center;
}

.badge_text {
  font-size: 0.7rem;
  font-weight: 800;
  color: white;
  background-color: darkolivegreen;
  padding: 0.35em 0.4em;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-80%);
}

.navbar a {
  text-decoration: none;
  color: blanchedalmond;
}

input[type='submit'] {
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  color: blanchedalmond;
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, background-color 0.3s, transform 0.15s;
  cursor: pointer;
}

input[type='submit']:hover {
  color: white;
  font-size: 1.2em;
  background-color: darkolivegreen;
  outline: none;
}

input[type='submit']:focus {
  color: white;
  font-size: 1.2em;
  outline: none;
}

input[type='submit']:active {
  color: white;
  font-size: 1.2em;
  background-color: rgb(143, 165, 106);
  transform: translate3D(0, 5px, 0);
  outline: none;
}

#newsfeed {
  grid-row: 2;
  grid-column: 2;
  background-color: rgb(170, 187, 142);
  border-radius: 15px;
  padding: 10px;
}

.news {
  background-color: darkolivegreen;
  color: rgb(255, 245, 231);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

#scoreboard {
  grid-row: 2;
  grid-column: 4;
  background-color: rgb(170, 187, 142);
  border-radius: 15px;
  padding: 10px;
}

#scoreboard table {
  background-color: blanchedalmond;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  margin: 0 auto;
}

#scoreboard th {
  background-color: darkolivegreen;
  color: rgb(255, 245, 231);
  padding: 15px;
}

#scoreboard tr {
  border: 0;
}

#scoreboard td {
  border: 0;
  padding: 10px;
  margin: 0;
}

#scoreboard tr:nth-child(odd) {
  background-color: rgb(143, 165, 106);
}

