<!DOCTYPE html>
<html>
<div id="heading">
  <h2>Earnings Reports</h2>
  <p>This page will list 10 random Earnings reports from March to April 2021.</p>

</div>
<div id="newsfeed">

  <h3>MGM Resorts International Beats</h3>
  <p>MGM Resorts International (MGM) reported a 1st Quarter March 2021 loss of $0.68 per share on revenue of $1.6
    billion.</p>
  <span>Wednesday, April 28, 2021 6:22:00 PM</span>

  <h3>Opko Health reports</h3>
  <p>Opko Health (OPK) reported 1st Quarter March 2021 earnings of $0.05 per share on revenue of $545.2 million.</p>
  <span>Wednesday, April 28, 2021 4:05:00 PM</span>

  <h3>Aflac Beats</h3>
  <p>Aflac (AFL) reported 1st Quarter March 2021 earnings of $1.53 per share on revenue of $5.9 billion.</p>
  <span>Wednesday, April 28, 2021 4:05:00 PM</span>

  <h3>Ebay Misses</h3>
  <p>Ebay (EBAY) reported 1st Quarter March 2021 earnings of $1.09 per share on revenue of $3.0 billion.</p>
  <span>Wednesday, April 28, 2021 4:05:00 PM</span>

</div>

</html>