<!DOCTYPE html>
<html>
     <div id="scoreboard" class="">
        <p class="">Scoreboard</p>
        <table>
          <thead>
            <tr>
              <td>First Name</td><td>Last Name</td><td>Score</td><td>City</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Avneet</td><td>Sandhu</td><td>50</td><td>Hamilton</td>
            </tr>
            <tr>
              <td>Oliver</td><td>Harrison</td><td>100</td><td>Langley</td>
            </tr>
            <tr>
              <td>Victor</td><td>Ly</td><td>150</td><td>Burnaby</td>
            </tr>
            <tr>
              <td>Kyung</td><td>Song</td><td>200</td><td>White Rock</td>
            </tr>
            <tr>
              <td>Mark</td><td>Zuckerburg</td><td>500</td><td>White Plains</td>
            </tr>
            <tr>
              <td>George</td><td>Smith</td><td>5</td><td>Toronto</td>
            </tr>
            <tr>
              <td>Michael</td><td>Scott</td><td>0</td><td>Dunder Mifflin</td>
            </tr>
            <tr>
              <td>Mike</td><td>Wazowski</td><td>234</td><td>London</td>
            </tr>
            <tr>
              <td>Kyle</td><td>Smith</td><td>30</td><td>Vancouver</td>
            </tr>
            <tr>
              <td>William</td><td>Shakespeare</td><td>350</td><td>Stratford</td>
            </tr>
          </tbody>
        </table>

      </div>
</html>